@{
    ViewBag.Title = "O que deve ser feito:";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div class="col-md-12">
            <h2 id="title">@ViewBag.Title</h2>

            <h3>Implementação do CPF do cliente</h3>
            <p>Na tela de cadastramento/alteração de clientes, incluir um novo campo denominado CPF, que permitirá o cadastramento do CPF do cliente.</p>
            <p><strong>Pontos relevantes:</strong></p>
            <ul>
                <li>O novo campo deverá seguir o padrão visual dos demais campos da tela</li>
                <li>O cadastramento do CPF será obrigatório</li>
                <li>Deverá possuir a formatação padrão de CPF (999.999.999-99)</li>
                <li>Deverá consistir se o dado informado é um CPF válido (conforme o cálculo padrão de verificação do dígito verificador de CPF)</li>
                <li>Não permitir o cadastramento de um CPF já existente no banco de dados, ou seja, não é permitida a existência de um CPF duplicado</li>
            </ul>

            <p>O banco de dados da aplicação está localizado no caminho "~\FI.WebAtividadeEntrevista\App_Data", onde será necessário criar o novo campo no banco de dados.</p>
            <p><strong>Banco de dados:</strong></p>
            <ul>
                <li>Tabela que deverá armazenar o novo campo de CPF: "CLIENTES"</li>
                <li>O novo campo deverá ser nomeado como "CPF"</li>
            </ul>

            <h3>Implementação do botão Beneficiários</h3>
            <p>Na tela de cadastramento/alteração de clientes, incluir um novo botão denominado “Beneficiários”, que permitirá o cadastramento de beneficiários do cliente. O mesmo deverá abrir um pop-up para inclusão do “CPF” e “Nome do beneficiário”.</p>
            <p>Além disso, deverá existir um grid onde serão exibidos os beneficiários já cadastrados. Será possível realizar a manutenção dos beneficiários cadastrados, permitindo a alteração e exclusão dos mesmos.</p>

            <p><strong>Pontos relevantes:</strong></p>
            <ul>
                <li>O novo botão e novos campos deverão seguir o padrão visual dos demais botões e campos da tela</li>
                <li>O campo CPF deverá possuir a formatação padrão (999.999.999-99)</li>
                <li>Deverá consistir se o dado informado é um CPF válido (conforme o cálculo padrão de verificação do dígito verificador de CPF)</li>
                <li>Não permitir o cadastramento de mais de um beneficiário com o mesmo CPF para o mesmo cliente</li>
                <li>O beneficiário deverá ser gravado na base de dados ao acionar o botão “Salvar” na tela de “Cadastrar Cliente”</li>
            </ul>

            <p><strong>Banco de dados:</strong></p>
            <ul>
                <li>Tabela que deverá armazenar os dados de beneficiários: "BENEFICIARIOS"</li>
                <li>Os novos campos deverão ser nomeados como: "ID", “CPF”, “NOME” e “IDCLIENTE”</li>
            </ul>
        </div>
    </section>
</main>
